/* .App {
  text-align: center;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .tab_hOver:hover{
  margin-left:1px;
} */
a{
  color:white !important;
  text-decoration: none !important;
}
a:hover{
  color:white;
  text-decoration: none !important;
  /* margin-left:1px; */
}
.leftpanel{
  height:100vh;
  position: absolute;
  width: 360px;
  top: 0px;
  background: linear-gradient(21.8deg, #3498DB 0%, #2980B9 100%);
}
.leftpanelText{
  color : white;
  fill:solid ;
  margin-top: 23%;
  margin-bottom: 5%;
  margin-left: 25%;
  color:white;
}

.nameText{
  margin-bottom:52px;
  margin-top:45px;
  font-family : open sans;
  font-style: normal ;
  font-weight : bold;
  font-size: 20px;
  line-height: 30px ; 
  Letter-spacing: 0.04em;
  text-transform: uppercase;
}
.tabText{
  font-family : open sans;
  font-style: normal ;
  font-weight:500;
  font-size: 16px;
  line-height: 24px ; 
  Letter-spacing: 0.04em;
  color:white;
}
.icons{
  margin-top: 53%;
}

.inline-block{
display: inline-block;
margin-left:10px;
margin-top: -4px;
font-family: Open Sans;
font-style: normal;
font-weight: 500;
line-height: 24px;
font-size: 15px;
text-align: center;
text-transform: uppercase;


}
p{
  margin-block-end: 0em;
  margin-block-start: 0em;
}
.tabText p{
  margin-bottom: 34px;
}
.icons div {
  margin-bottom: 17px;
}
.about{
  margin-left:415px;
  margin-right:100px;
  margin-top:14%;
  margin-bottom:0% !important;
  font-family: Open sans;
  font-style:normal;
  font-size:16px;
}
.photo{
  margin-left: 85%;
  margin-top:10%;
}
.photo img{
  width:90px;
  /* display:inline-block; */
  border-radius: 10px;
}
.Hi{
  font-size:75px;
  color: #3498DB ;
  font-weight: 600;
  margin-top:0% !important;
}
.btn-primary{
  padding-left:1.75rem;
  padding-right:1.75rem;
  border-radius: 0px;
}
.about_me{
  line-height:28px;
  letter-spacing: 0.04em;
}
.Hire_me{
  margin-top:24px;
}
.Resume{
  margin-left:30px;
}
.About_contact{
  margin-top:26px;
}
.About_contact span a p {
  color:#343a40;
}
.About_contact div a p {
  color:#343a40;
}
.email2{
  width:20px;
  margin-right:10px;
}
.About_contact p {
  display: inline-block;
}
.phoneDiv{
  margin-top:19px;
}
.phone{
  height:112%;
  margin-right:7px;
}
.nameLogo{
  float:right;
}
.nameLogo img{
  width:4vw;
  opacity:0.7;
}
.skills{
  margin-left:415px;
  margin-right:100px;
  margin-top:7%;
  /* margin-bottom:25%; */
  font-family: Open sans;
  font-style:normal;
  font-size:16px;
}
.skillsTitle , .projectsTitle, .contactTitle{
  color: #3498DB ;
  font-weight: 500;
  font-size:25px;
  display:none;
}

.skills p {
  margin-bottom:9px;
  margin-top: 32px;
}
.progress{
  height:3px;
}
.progress-bar{
  animation: progress 1.5s ease-in-out forwards;
}
@keyframes progress {
  from {
    width: 0;
  }
} 
@keyframes show  {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.projects{
  margin-left: 420px;
}
.laptop{
  height:15vw;
  /* background-color: blue; */
}h5{
  margin-top:20px;
}

.card{
  margin-top:25px;
  margin-right:50px;
  height:108%;
 }
 .card-body h5{
   color: #3498DB;
  
 }
 .card-group{
   margin-top:10px;
   /* margin:0px 30px opx 30px; */
   width: 93%;
   height:86vh;
   /* margin-top:15px !important; */
 }
 .code_div{
   margin-top:18px;
 }
 .code_logo{
   width: 24px;
 }
 .code_div a p {
   color:#343a40;
 }
 .code{
  display: inline-block;
  margin-left:10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
 }
 .Line_input{
  background: transparent;
  border: none;
  outline:0;
  border-bottom: 1px solid #000000;
  width:735px;
  padding:10px;
 }
 textarea {
  resize: none;
}
textarea.ta10em {
  height: 10em;
}
 .contact p{
   margin-top:20px;
 }
 .contact button{
   margin-top : 20px;
 }
 .contact{
  margin-left:415px;
  margin-right:200px;
  margin-top:10%;
  /* margin-bottom:25%; */
  font-family: Open sans;
  font-style:normal;
  font-size:16px;
 }
 .Contact_contact{
   margin-top:40px;
   float: right;
 }
 .mobileMenu{
   display: none;
 }


@media(max-width:1024px){
  .leftpanel{
    display:none;
  }
  .mobileMenu{
    display: inline-block;
  }
  .pos-f-t{
    width:100vw;
    position:fixed;
  }
  .navbar{
    margin-top:-15px;
  }
  .navbar-dark .navbar-toggler{
    border-color: yellow;
  }
  .tabText{
    font-size:34px;
    line-height: unset;
  }
  .myname  {
    font-size:34px;
    margin-bottom:5px !important;
    margin-top:5px;
  }
  
  .about{
    margin-left:20px;
    margin-right:30px;
  }
  .photo{
    margin-left: 85%;
    margin-top: 12%;
  }
  .photo img{
    width: 135px;
    /* display: inline-block; */
    border-radius: 10px;
    /* float: right; */
  }
  .Hi{
    font-size:105px;
    text-align:center;
    margin-top: -10% !important;
  }
  .about{
    margin-top: 24% ;
    margin-left:50px;
    margin-right:50px;
  }
  .about_me{
    margin-top:5%;
    margin-bottom: 7% ;
    
  }
  .about_me p ,  .About_contact p {
    font-size: xx-large;
    line-height: 168%;
  }
  .Hire_me a .btn-primary{
    font-size:xx-large;
  }
  
  .About_contact{
    margin-top: 9% !important;
  }
  .About_contact .email2, .phoneDiv .phone{
    width:25px;
  } 
  .phoneDiv{
    margin-top:2% !important;
  }
  .skillsTitle , .projectsTitle, .contactTitle{
    display:inline-block;
    margin-bottom: 5%;
    margin-top:20% !important;
    font-size: 45px;
  }
  .projectsTitle{
    margin-top:8% !important;
  }
  .skills{
    margin-left:20px;
    font-size:xx-large;
    margin-top:0%;
  }
  .skills p{
    margin-top:75px;
  }
  .projects{
    display:block;
    /* margin-left:50px; */
    /* margin-right:50px; */
    margin:50px;
  }
  .card{
    display:contents;
    /* margin-bottom:50px; */
    border: 1px solid rgba(0,0,0,.125);
  }
  .card-body{
    font-size:33px;
    border:inherit;
  }
  .card-body h5{
    font-size:100%;
    margin-bottom: 3%;
    color: #3498DB;
  }
  .code_div a p {
    font-size: 90%;
}
  .card-group{
    margin-top:10px;
    width:100%;
  }
  .card-img-top{
    height:350px;
  }
  .card .phone{
    margin-top:10%;
  }
  .contact{
    margin-left:20px;
    margin-top: 5%;
  }
  .contact p, .contact form .btn-primary{
    font-size:xx-large;
  }
  .Line_input{
    margin-top: 20px;
    width:90vw;
  }
  .About_contact{
    margin-top:25%;
    width:70vw;
    margin-left: -10px;
  }
}


@media (max-width: 768px){
  .leftpanel{
    display:none;
  }
  .mobileMenu{
    display: inline-block;
  }
  .pos-f-t{
    width:100vw;
    position:fixed;
  }
  .navbar{
    margin-top:-15px;
  }
  .navbar-dark .navbar-toggler{
    border-color: yellow;
  }
  .tabText{
    font-size:26px;
  }
  .myname  {
    font-size:24px;
    margin-bottom:5px !important;
    margin-top:5px;
  }
  .about{
    margin-left:20px;
    margin-right:30px;
  }
  .photo{
    margin-left: 85%;
    margin-top: 14%;
  }
  .photo img{
    width: 106px;
    /* display: inline-block; */
    border-radius: 10px;
    /* float: right; */
  }
  .Hi{
    font-size:105px;
    text-align:center;
    margin-top: -10% !important;
  }
  .about{
    margin-top: 24% ;
    margin-left:50px;
    margin-right:50px;
  }
  .about_me{
    margin-top:5%;
    margin-bottom: 7% ;
    
  }
  .about_me p ,  .About_contact p {
    font-size: x-large;
    line-height: 168%;
  }
  .Hire_me a .btn-primary{
    font-size:x-large;
  }
  
  .About_contact{
    margin-top: 9% !important;
  }
  .phoneDiv{
    margin-top:2% !important;
  }
 
  .skillsTitle , .projectsTitle, .contactTitle{
    display:inline-block;
    margin-bottom: 5%;
    margin-top:20% !important;
    font-size: 35px;
  }
  .projectsTitle{
    margin-top:8% !important;
  }
  .skills{
    margin-left:20px;
    font-size:26px;
    margin-top:0%;
  }
  .skills p{
    margin-top:65px;
  }
  .projects{
    display:block;
    /* margin-left:50px; */
    /* margin-right:50px; */
    margin:50px;
  }
  .card{
    display:contents;
    /* margin-bottom:50px; */
    border: 1px solid rgba(0,0,0,.125);
  }
  .card-body{
    font-size:large;
    border:inherit;
  }
  .card-body h5{
    font-size:100%;
    margin-bottom: 3%;
    color: #3498DB;
  }
  .code_div a p {
    font-size: initial;
}
  .card-group{
    margin-top:10px;
    width:100%;
  }
  .card-img-top{
    height:350px;
  }
  .card .phone{
    margin-top:10%;
  }
  .contact{
    margin-left:20px;
    margin-top: 5%;
  }
  .contact p, .contact form .btn-primary{
    font-size:x-large;
  }
  .Line_input{
    margin-top: unset;
    width:80vw;
  }
  .About_contact{
    margin-top:25%;
    width:70vw;
    margin-left: unset;
  }
}


@media(max-width:576px){
  
  .leftpanel{
    display: none;
  }
  .mobileMenu{
    display: inline-block;
  }
  .pos-f-t{
    width:100vw;
    position:fixed;
  }
  .navbar{
    margin-top:-15px;
  }
  .navbar-dark .navbar-toggler{
    border-color: yellow;
  }
  .tabText{
    font-size:unset;
  }
  .myname {
    font-size:unset;
    margin-bottom:5px !important;
    margin-top:5px;
  }
  .photo{
    margin-left: 85%;
    margin-top: 28%;
  }
  .photo img{
    width: 66px;
    /* display: inline-block; */
    border-radius: 10px;
    float: right;
  }
  .Hi{
    font-size: 75px;
    margin-left: 60px;
  }
  .about{
    margin-left:20px;
    margin-right:30px;
  }

  .about_me p ,  .About_contact p {
    font-size: unset;
    line-height: unset;
  }
  .Hire_me a .btn-primary{
    font-size:unset;
  }

  .skillsTitle , .projectsTitle, .contactTitle{
    margin-bottom: unset;
    margin-top:unset;
    font-size:unset;
  }
  .projectsTitle{
    margin-top:8% unset;
  }
  .skills{
    margin-left:20px;
    font-size:19px;
    margin-top:9%;
  }
  .skills p{
    margin-top:40px;
  }

  .projects{
    margin: 9% 5% 15% 5%;
  }
  .laptop{
    height:100%;
  }
  .card-body {
    border:inherit;
    font-size:unset;
    margin-bottom: unset
  }
  .card-body h5{
    color: #3498DB;
  }
  .code_div a p {
    font-size: unset;
}
.card .laptop{
  margin-top: 8%;
}
  .card .phone{
    height:112%;
    margin-top:10%;
  }
  .contact{
    margin-left:20px;
    margin-top: 5%;
  }
  .contact p, .contact form .btn-primary{
    font-size:unset;
  }
   .Line_input{
    margin-top: unset;
    width:75vw;
  }
  .About_contact{
    margin-top:25%;
    width:75vw;
    margin-left: unset;
  }
 
  .Contact_contact{
    float:none !important;
  }
  
}


