body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .navbar-toggler{
      position: absolute;
      right:3%;   
      background-color:transparent;
  }
  .bg-dark{
    background-color: #3498DB !important;
  }
  .navbar{
      margin-bottom:0px;
  }.about{
    margin-top: 0%;
    margin-bottom: 25%;
  }
  .Hi{
    margin-top: 17%;
  }