html{
    scroll-behavior: smooth;
}
h6{
    font-size: small !important;
}
.mobileMenu{
    display: none;
}
.navbarMain{
    background-color:yellowgreen;
    padding:15px;
}
.navbarMain a:hover{
    cursor: pointer;
    color:darkmagenta !important;
}
.logoDiv{
    float: left;
    margin-left: 28px;
    color:cornsilk !important;
    font-weight: 600;
    /* border-radius: 50px;
    border-color: red; */
}
.MenuOptions{
    margin-left: 47vw;
}
.MenuOptions a{
    color:cornsilk;
    text-decoration: none;
    margin-left:41px;
}
.AboutData_gradient{
    position:relative;
    /* background: linear-gradient(180deg,#6a4ca8,#28007c); */
}
.AboutData{
    opacity:0.8;
    margin-top:15px;
    background-image: url(https://blog.eduonix.com/wp-content/uploads/2015/04/15-Most-Popular-Programming-Languages-You-Must-Learn-in-2015.png);
    /* background-image:linear-gradient(rgba(0, 119, 255, 0.45), rgba(53, 92, 136, 0.45)),url("./images/About_pic.jpg"); */
    background-size: cover;
    height: 79vh;
    background-repeat: no-repeat;
    background-size: 100%;
}
.AboutData2{
    margin-top: 24vh;
    width: 50vw;
    font-size: 28px;
    position: absolute;
    margin-left: 30px;
}
.hola{
    font-size:54px;
    color:blue;
    font-weight: 600;
}
.hola img{
    width: 34px;
    margin-right: 10px;
}
.AboutData_info{
    margin-top:5px;
}
.AboutData_info a{
    color: white !important;
    font-size: 25px !important;
    font-weight: 500 !important;
    margin-left:5px;
}
.AboutData_info a:hover{
    cursor: pointer;
    color:brown !important;
}
.offersTitle{
    margin-top: 15px;
    margin-bottom: 25px;
    background-color: yellowgreen;
    max-width: 50vw;
    /* margin-left: 10vw; */
    padding: 11px;
    /* float:left; */
    clip-path: polygon(0 0, 93% 1%, 100% 100%, 0% 100%);
}
.offersTitle a {
    margin-right:16vw;
}
/* .offersPanel{
    border: 1px solid;
    border-radius: 10px;
    margin-left:30px;
    padding:20px;
} */
.card{
    box-shadow: 0 1px 10px cornflowerblue;
}
.card:hover{
    /* cursor: pointer; */
    transform: scale(1.05);
    transition: all .2s ease-in-out;
    /* width:100px; */
}
.card-body h6{
    color:gray !important;
}
.card-body p{
    margin-bottom: 0rem !important;
    font-size:18px !important;
}
.card-body img{
    width: 100px;
    margin-bottom: 6px;
}
.Mock_row{
    margin-left: 18vw;
    margin-right: 0px !important;
}
.Mock_card{
    height: 33vh;
    width: 26vw;
}
.offersPic{
    float: right;
    margin-top: 57px;
}
.offers1{
    max-width: 43vw;
    margin-left: 21vw;
}
.offers2{
    max-width: 73vw;
    margin-left: 10vw;
    margin-top:20px;
}
.offers2 div{
    max-width:293px;
}
.limited{
    margin-bottom: 3px;
    font-size: x-small;
    font-family: monospace;
}
.gre_material_title, .PTE_platinum_title{
    color: deeppink !important;
    margin: 14px !important;
    font-weight: 700;
    font-size: 23px !important;
}
.refer_box{
    text-align:left;
}
.refer_data{
    display: inline-block;
    width: 51%;
    text-align: center;
    margin-left:6vw;
}
.share{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    float: right;
    height: 36vh;
    margin-right: 8%;
    margin-top: 0px;
    padding: 20px;
    width: 34%;
    box-shadow: 0 0px 3px black;
}
.refer_items{
    margin-top:16px;
}
.refer_item{
    width:13vw;
    height:128px;
    padding:13px;
    display:inline-block;
    border: 1px solid grey;
    border-radius: 48px;
    margin-right: 13px;
    box-shadow: 0 1px 10px cyan;
}
.refer_item img{
    width:52px;
}
.refer_item_data{
    font-size:15px;
    margin-top:5px;
    font-family: monospace;
}
.whatsapp-img{
    width: 155px;
    height: 61px;
}
.fb-img{
    width: 145px;
    height: 45px;
    margin-left: 14px;
}
.share div p{
    font-size: 17px;
    margin-top:4vh;
}
.read_tc{
    float: left;
    font-size: 11px;
    color: crimson !important;
}
.Registration, .mockTest{
    margin-top:20px;
    margin-bottom: 25px;
    background-color: yellowgreen;
    max-width: 60vw;
    padding: 11px;
    margin-left:40vw;
    clip-path: polygon(5% 0, 100% 1%, 100% 100%, 0% 100%);
}
.Reg-pic{
    float:left;
    width: 380px;
    height: 585px;
    background-size:cover;
    background-image: linear-gradient(45deg, rgba(255,120,178,0.55) 0%, rgba(182,51,149,0.55) 51%, rgba(128,0,128,0.55) 89%),url("../src/images/Reg-form.jpg");
}
.preferrences {
    margin-bottom: 10px;
    margin-top: 5px;
}
.preferrences label input{
    margin-left:50px;
    margin-right:4px;
}
.Reg-form{
    text-align: left;
    border: 2px solid cadetblue;
    border-radius:6px;
    height: 585px;
    border-left: none;
    padding: 30px !important;
    width:84vw;
    margin-bottom:23px;
}
.communicate_tag{
    text-align: center;
    font-size: x-small;
    color: brown;
    margin-top: -20px;
    margin-bottom: 0rem;
}
.Reg-form form{
    margin-left:26.5vw;
}
.form-fill div a{
    color:red !important;
    font-size: 15px;
}
.form-fill input{
    padding: 2px;
    border:none;
    border-bottom:1px solid cornflowerblue;
    width: 53vw;
    margin-bottom:30px;
    outline:0;
}
.submit{
    float:right;
}
.contact{
    text-align: initial;
    margin-left: 16vw;
}
.contact-us{
    float: right;
    width: 48vw;
    height: 214px;
}
.contact span img{
    width:26px;
    margin-right: 12px;
}
.contact div img{
    width:26px;
    margin-right: 12px;
}
.contact ul li{
    list-style: none;
    margin-top:25px;
}
.contact ul li a {
    text-decoration: none;
    color: unset;
}
.footerPanel{
    margin-top:30px;
}
.footerPanel a{
    font-family: cursive;
}
.footerPanel a img{
    width: 34px;
    float: right;
    opacity: 0.4;
}
.footerPanel p{
    float: left;
    font-size: xx-small;
    color: darkgray;
    margin-bottom: 0rem !important;
    margin-left: 16px;
    margin-top: 15px;
}
.best{
    margin-top: 5px !important;
    color: white;
    background-color:cornflowerblue !important;
}

@media(max-width:576px){
    .mobileMenu{
        display: inline-block;
        width:100vw;
        background-color:yellowgreen;
    }
    .navbarMain{
        display: none;
    }
    .p-4{
        padding:0px !important;
        margin-left:20px;
        background-color: yellowgreen !important;
        text-align: left;
        text-decoration: none !important;
        text-decoration-line: none;
    }
    .mobileMenu p{
        margin-bottom:7px;
    }
    .mobileMenu a{
        text-decoration-line:none; 
    }
    .navbar-green .navbar-toggler {
        border-color:rgb(221, 201, 201);
    }
    .navbarMain{
        background-color:yellowgreen;
        padding:15px;
    }
    .navbarMain a:hover{
        cursor: pointer;
        color:darkmagenta !important;
    }
    .logoDiv{
        float: left;
        margin-left: unset;
        color:cornsilk !important;
        font-weight: 600;
        /* border-radius: 50px;
        border-color: red; */
    }
    .MenuOptions{
        margin-right:5vw;
    }
    .MenuOptions a{
        color:cornsilk;
        text-decoration: none;
        margin-left:41px;
    }
    .AboutData_gradient{
        position:relative;
        background: linear-gradient(180deg,#6a4ca8,#28007c);
    }
    .AboutData{
        opacity:0.8;
        margin-top:15px;
        background-image: url(https://blog.eduonix.com/wp-content/uploads/2015/04/15-Most-Popular-Programming-Languages-You-Must-Learn-in-2015.png);
        /* background-image:linear-gradient(rgba(0, 119, 255, 0.45), rgba(53, 92, 136, 0.45)),url("./images/About_pic.jpg"); */
        background-size: cover;
        height: 34vh;
        background-repeat: no-repeat;
        background-position: center;
    }
    .AboutData2{
        margin-top: 22vh;
        width: 96vw;
        font-size: 21px;
        position: absolute;
        margin-left:0vw;
    }
    .hola{
        font-size:54px;
        color:cyan;
        font-weight: 600;
    }
    .hola img{
        width: 34px;
        margin-right: 10px;
    }
    .AboutData_info{
        margin-top:5px;
        color:white;
        line-height: 38px;
    }
    .AboutData_info a{
        color: cyan !important;
        font-size: 25px !important;
        font-weight: 500 !important;
        margin-left:5px;
    }
    .AboutData_info a:hover{
        cursor: pointer;
        color:brown !important;
    }
    .offersPic{
        display: none;
    }
    .offersTitle{
        margin-top: 15px;
        margin-bottom: 25px;
        background-color: yellowgreen;
        max-width: 71vw;
        /* margin-left: 10vw; */
        padding: 11px;
        /* float:left; */
        clip-path: polygon(0 0, 93% 1%, 100% 100%, 0% 100%);
    }
    .offersTitle a {
        margin-right:16vw;
    }
    /* .offersPanel{
        border: 1px solid;
        border-radius: 10px;
        margin-left:30px;
        padding:20px;
    } */
    .card{
        box-shadow: 0 1px 10px cornflowerblue;
    }
    .card:hover{
        /* cursor: pointer; */
        transform: scale(1.05);
        transition: all .2s ease-in-out;
        /* width:100px; */
    }
    .card-body h6{
        color:gray !important;
    }
    .card-body p{
        margin-bottom: 0rem !important;
        font-size:18px !important;
    }
    .card-body img{
        width: 100px;
        margin-bottom: 6px;
    }
    .offersPic{
        float: right;
        margin-top: 57px;
    }
    .Mock_card{
        width:68vw;
        margin-top:2vh;

    }
    .offers1{
        max-width: 73vw;
        margin-left: 14vw;
    }
    .offers1>div{
        margin-bottom:28px;
    }
    .offers2{
        max-width: 73vw;
        margin-left: 14vw;
        margin-top:unset;
    }
    .offers2>div{
        margin-bottom:28px;
    }
    .limited{
        margin-bottom: 3px;
        font-size: x-small;
        font-family: monospace;
    }
    .refer_box {
        text-align: left;
        height: 541px;
    }
    .refer_data {
        display: inline-block;
        width:92%;
        text-align: center;
        margin-left: 6vw;
    }
    .refer_item {
        width: 25vw;
        height: 176px;
        padding: 13px;
        display: inline-block;
        border: 1px solid grey;
        border-radius: 48px;
        margin-right: 13px;
        box-shadow: 0 1px 10px cyan;
    }
    .refer_item img {
        width: 60px;
    }
    .share{
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        height: 47vh;
        margin-right: 11%;
        margin-top:17px;
        padding: 17px;
        width: 81%;
        box-shadow: 0 0px 3px black;
    }
    .whatsapp-img {
        width: 118px;
        height: 61px;
    }
    .fb-img {
        width: 116px;
        height: 45px;
        margin-left: 14px;
    }
    .RegistrationPanel{
        margin-top:117px;
    }
    .Registration{
        margin-top:20px;
        margin-bottom: 25px;
        background-color: yellowgreen;
        max-width: 60vw;
        padding: 11px;
        margin-left:40vw;
        clip-path: polygon(5% 0, 100% 1%, 100% 100%, 0% 100%);
    }
    .Reg-pic{
        float:left;
        display:none;
        width: 61vw;
        height: 293px;
        background-size:cover;
        background-image: linear-gradient(45deg, rgba(255,120,178,0.55) 0%, rgba(182,51,149,0.55) 51%, rgba(128,0,128,0.55) 89%),url("../src/images/Reg-form.jpg");
    }
    .preferrences {
        margin-bottom: 10px;
        margin-top: 5px;
    }
    .preferrences label input{
        margin-left:50px;
        margin-right:4px;
    }
    .Reg-form{
        text-align: left;
        border: 2px solid cadetblue;
        border-radius:6px;
        height: 750px;
        padding: 30px !important;
        width:91vw;
        margin-bottom:23px;
        margin-left:14px;
    }
    .communicate_tag{
        text-align: left;
        font-size: x-small;
        color: brown;
        margin-top: -20px;
        margin-bottom: 0.5rem;
    }
    .Reg-form form{
        margin-left:unset;
    }
    .form-fill input{
        padding: 2px;
        border:none;
        border-bottom:1px solid cornflowerblue;
        width: 72vw;
        margin-bottom:30px;
        outline:0;
    }
    .submit{
        float:right;
    }
    .contact{
        text-align: initial;
        margin-left: -2vw;
        font-size:18px;
    }
    .contact-us{
        display: none;
        float: right;
        width: 48vw;
        height: 214px;
    }
    .contact span img{
        width:26px;
        margin-right: 12px;
    }
    .contact div img{
        width:26px;
        margin-right: 12px;
    }
    .contact ul li{
        list-style: none;
        margin-top:25px;
    }
    .contact ul li a {
        text-decoration: none;
        color: unset;
    }
    .footerPanel{
        margin-top:30px;
    }
    .footerPanel a{
        font-family: cursive;
        font-size:13px;
    }
    .footerPanel p{
        float: right;
        font-size: xx-small;
        color: darkgray;
        margin-bottom: 0rem !important;
        margin-left: 16px;
        margin-top: -53px;
    }
    .best{
        margin-top: 5px !important;
        color: white;
        background-color:cornflowerblue !important;
    }
}