
.trailer{
    /* float:left; */
    /* size: 25vh; */
    position:relative;
    background-repeat: no-repeat;
    background-size:1600px;
    /* background-image:url("http://in.bmscdn.com/iedb/movies/images/website/banner/large/taxiwala-et00070814-12-02-2018-11-11-47.jpg"); */
    /* background-image:url('//in.bmscdn.com/iedb/movies/images/website/banner/large/2.jpg') */
    /* background-image:url('//in.bmscdn.com/iedb/movies/images/website/banner/large/thalapathy-62-et00074493-21-04-2018-07-18-16.jpg'); */
    /* background-image:url('//in.bmscdn.com/iedb/movies/images/website/banner/large/vijay-61-et00058691-20-06-2017-04-42-29.jpg'); */
}
.trailer img{
    width: -webkit-fill-available;
}
.movieDetails{
    position: absolute;
    display: inline-block;
    margin-top: -13%;
    margin-left: 20%;
    color: white;
}
.movieDetails p {
    margin-bottom:8px;
}
.mTitle{
    font-size:x-large;
    font-weight:600;
}
.mDate{
    margin-top:14px;
}
.mDate span{
    margin-right:30px;
}
.mDate span i {
    margin-right:9px;
}
.playCircle{
    position:absolute;
    margin: auto;
    margin-left: 50vw;
    margin-top: 40vh;
    top: 0;
}
.playCircle img{
    width:80px;
}
.playCircle img:hover{
    transform:scale(1.05, 1.05);
}
.trailerPoster{
    position: absolute;
    margin-top: -14%;
}
.trailerPoster img{
    width: 115%;
    margin-left: 8%;
    border-bottom: 3px solid #5bc199;
    /* height: 400px; */
}
.trending_pic{
    width:16vw !important;
}    
.trending_pic div img{
    height: 19vh !important;
    width: 16vw !important;
}
.trending_pic div p{
    display: inline-block;
    font-size: xx-small;
    width: 90%;
    margin-bottom: 0px;
    margin-top: 3px;
    padding: 4px;
}
.socialIcons2{
    position: absolute;
    margin-top: -4%;
    margin-right: 26px;
    float: right;
    margin-left: 81vw;
}
.socialIcons2 a img{
    width: 38px ;
    margin-left:12px;
}
.infopanelMDI{
    width:80vw;
    margin-left:252px;
   
}
.voteRating{
    background-color: #F9F9F9;
}
.ratingMDI , .criticMDI{
    display:inline-block;
    /* text-align: center; */
    margin-right:6vw;
    margin-left: 2vw;
}

.ratingMDI img{
    width:30px;
    /* margin-left:5px; */
    margin-right:5px;
    display: inline-block;
}
.criticMDI span img{
    margin-left:3px;
}
.ratingMDI span a {
    font-size:25px;
}
.criticMDI span a{
    font-size:19px;
}
.voteCount{
    margin-top:3px;
    font-size: 11px;
    color:#999999;
}
.bookNow{
    float: right;
    margin-right: 8vw;
    margin-top: 1vh;
}
.bookNow button{
    border-radius: 2px !important;
    line-height: 25px;
}
.bookNow button a {
    margin-left:3vw;
    margin-right:3vw;
    font-size: 14px;
    letter-spacing: 2px;
}
.infoMDI{
    margin-right:225px;
}
.synopsis{
    margin-top:15px;
}
.synopsis a,.trendingstories a{
    font-size: 14px;
    font-weight: 700;
}
.synopsis p{
    font-size: 14px;
    font-weight:400;
    color:#666666;
}
.privacyPanel{
    padding: 13px;
    background-color:#F2F2F2;
}
