.movieCardsPanel{
    background-color: #F2F2F2;
}
.movieCardsPanelAll{
    margin-left:10vw;
}
.movieCards{
    margin-top:4vh;
}
.trending{
    margin-left:2%;
    /* display:inline-block; */
    float:left;
    margin-top:4vh;
}
.movieName a:hover {
    cursor:pointer;
    color:blue !important;
}
.category:hover{
    cursor:pointer;
}
.movieName{
    padding:10px;
    width:20vw;
    margin-top:3px;
    font-size:x-small;
    background-color: white;
}
.category{
    color:darkgray;
    font-size:x-small;
}
.movieName a , .category a{
    display:inline-block;
}
.mainCardsDiv{
    display:inline-block;
    margin-left:1%;
    margin-bottom:4vh;
    margin-top:4vh;
    max-width:75vw;
}
.divCardTitle a {
    font-weight:600;
}
.divCardTitle p {
    margin-left:47vw;
    display: inline;
    font-size:x-small;
}
.divCardTitle p:hover{
    color:blue;
    cursor:pointer;
}
.totalCards{
    margin-top:-4px;
}
.card{
    width:19vw;
    display: inline-block;
    margin-right:25px;
    margin-top:10px;
    border-radius: 14px;
    overflow: hidden;
}
.poster{
    width:19vw;
}
.poster img{
    width:19vw; 
    height:53vh;
}
.rating{
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}
.rating, .percentage , .posterTitle{
    display:inline-block;
}
.rating img{
    width:15px;
    margin-right: 4px;
    margin-left: 4px;
}
.icon a {
    font-size:16px;
}
.posterTitle{
    font-size: 14px;
    margin-left: 25px;
    margin-top: 7px;
}
.card-title{
    margin-bottom:0px ;
}
.card-tag{
    color:#ACACAC;
}
.viewCollapse{
    margin-top:1%;
}
.privacy{
    margin-left:3vw;;
    margin-right:5vw;
}
.privacy p{
    margin-bottom:2px;
    font-size:12px;
    line-height: 19px;
}
.privacy p a:hover{
    text-decoration:none;
}
