.App{
    text-align:initial;
}
.navbar{
    background: #333545;
}
.primary-header {
    display: inline;
    margin-left:-100px !important;
}
.header-col-1 {
    display: inline-block;
} 
.header-col-2{
    display: inline-block;
    width:75%;
}
.header-col-3{
    /* display: inline-block; */
    float: right;
    margin-top: 24px;
    margin-left: 20px;
}
.brand{
    display: inline;
}
.brand .logo img{
    width: 139px;
    margin-top: -77px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.search-section{
    background-color:white;
    position: relative;
    height: 45px;
    margin-top:20px;
    border-radius:3px;
    width:70vw;
}
.search_logo{
    margin-left:7px;
}
.search_logo img{
    width:20px;
    display: inline-block;
}
.search_border{
    border: none;
    width: 67vw;
    height: 7vh;
    background: transparent;
    outline: none;
    font-size: 13px;;
    margin-left: 9px;
}
.primary-menu{
    display: inline;
    margin-right: 30px;
    color: white;
    font-size: x-small;
}
.btn-sm{
    height:30px;
    font-size:xx-small;
}
.inner-nav ul li:hover{
    cursor: pointer;
    color:red;
}
.inner-nav ul {
    margin-left:-39px;
    margin-bottom: 0px;
}
.MuiModal-root-14 {
    text-align:center !important;
}
.signin{
    font-size:17px !important;
}
.login_center{
    margin-left:10vw !important;
}
.loginX{
    float: right;
}
.loginX:hover{
    cursor:pointer;
}
.signbtn{
    width:25vw;
    margin-top:20px;
}
.btn-ht{
    height:43px;
    border-radius:2px !important;
}
.btn-ht{
    font-size:17px;
}
.fa_signin img , .google_signin img{
    width:23px;
    float:left;
    margin-top:3px !important;
}
.fb-color{
    background-color: #344D8E !important;
    border-color:#344D8E !important;
}
.inputLine{
    max-width:24vw;
}
.signup{
    margin-top: 4vh;
    font-size: x-small;
}
.sColor{
    color:#81BCFF !important;
}
.terms{
    margin-top: 4vh;
    font-size: xx-small;
}
.login{
    width: 25vw;
    margin-right: 20px !important;
}
.threeLines{
    width:45px;
}
.threeLines:hover{
    cursor:pointer;
}