.searchPanel{
    /* width:70vw; */
    background-color:#F6F6F6;
    text-align:center;
    padding:20px;
}
.searchPanel span {
    background-color: white;
}
.searchPanel div img{
    width:30px;
    float:left;
    margin-top:20px;
    /* vertical-align: middle; */
}
.cross{
    width:25px;
    float:right;
    margin-top:0px;
}
.search_border2{
    margin-top:10px;
    border-radius: 4px;
    border:none;
    width: 58vw;
    height: 7vh;
    background: white;
    outline: 0;
    font-size: smaller;
    margin-left: 0px;
}
.search_logo2{
    height:7vh;
}
.search_logo2 img{
    width:20px;
    display: inline-block;
}
.pref{
    color:#a5a5a5;
    font-size:13px;
    /* text-align: start; */
    margin-top:4px;
}
.movieListPanel{
    margin-left:25px;
}
.header{
    margin-top:10px;
}
.changer span{
    cursor:pointer;
    font-size:16px;
    padding:5px;
    border: 1px solid grey;
}
.changer span p{
    display: inline-block;
    margin-left:15px;
    margin-right:15px;
}
.filter{
    font-size: 14px;
    float:right;
    margin-right:12vw;
}
.filter span{
    margin-right:8px;
}
.buttonMode span{
    margin-right: 8px;
    border-radius: 17px;
    cursor: pointer;
    font-size: 13px;
    padding: 3px;
    border: 1px solid grey;
}
.buttonMode span a {
    margin-left:8px;
    margin-right:8px;
}
.movieLanguage , .movies{
    font-size:13px;
}
.movieLanguage ul{
    color:#E7767A;
    margin-bottom:4px;
}
.movieLanguage , .movies{
    text-align: start;
}
.movies ul {
    list-style-type:none;
    /* margin-left:0px; */
}
.movies ul li a:hover{
    cursor: pointer !important;
}
.row .col-md-4 div{
    color:black;
}
.row .col-md-4 .movies ul li:hover{
    cursor:pointer;
    text-decoration-line: underline;
}

.movies ul li a a {
    font-size:11px;
    margin-left:3px;
    color:orange !important;
}
.svgHeart{
    width:11px;
    fill:#C02C39;
}
.svgRating {
    display: inline;
    font-size:11px;
    margin-left:3px;
    color:gray !important;
}
.movieList{
    width:97vw;
}
.my-autocomplete-items{
    text-align: left;
    width: 56.5vw !important;
    text-align: cehh;
    margin: 0 auto;
    position: absolute;
    margin-left: 268px;
    z-index: 1;
}
.my-autocomplete-items div{
    background-color: white;
    width: 50vw;
    font-size: 15px;
    border-top: 1px solid beige;
    padding: 14px;
    color:darkgray;
}
.my-autocomplete-items div:hover{
    cursor: pointer;
    background-color: #FAF0BF;
}