.Guest{
    background-color:#333545;
    padding:20px;
} 
.userIcon{
    float:left;
    width:40px;
    margin-right:10px;
}
.wg{
    color:grey!important;
}
.welGuest p{
    display: block;
    color:hsl(0, 0%, 100%);
    font-size:x-small;
    margin-bottom:0px;
}
.notiList{
    width:18vw !important;
}