p{
  margin:unset;
}
a{
  text-decoration: unset !important;
  color:unset;
}
.header{
  height:16vh;
}
.left{
  float:left;
  padding:40px;
  height:16vh;
}
.logo{
  margin-left:2vw;
}
.right {
  float:right;
  margin-right:1vw;
  padding:40px;
  height:16vh;
}
.right div{
  display: inline-block;
  margin-left:1vw;
}
button{
  border-radius: 4px !important;
  border: 1px solid #FBBB00 !important;
}
.track button{
  background-color: white;
  color: #FBBB00;
  padding: 0px 25px 0px 25px;
}
.portal button{
  background-color: #FBBB00;
  color: white;
  padding: 0px 25px 0px 25px;
}
.line{
  height:1px;
  background-color:lightgray;
}
.phoneDisplay{
  padding:35px;
  display:inline-block;
}
.phoneDisplay img{
  vertical-align: unset;
}
.homeCenterData{
  display:inline-block;
  vertical-align: top;
  padding: 6% 0% 6% 2%;
}
.mainTitle{
  font-size: 54px;
  color:#565656;
}
.subTitle{
  font-size:39px;
  color:#565656;
  font-weight: 300;
}
.bookTruckIcons{
  padding:7% 0 7% 2%;
}
.bookTruckIcons, .singleIcon{
  display:inline-block;
}
.singleIcon{
  margin-right:16px;
}
.singleIcon img{
  padding:0 25% 0 25%; 
}
.singleIcon p{
  font-size: 16px;
  font-weight:500;
  padding:5px;
  color:#565656;
}
.singleIcon:hover{
  cursor:pointer;
}
.playstore{
  display:inline-block;
}
.appstore{
  display:inline-block;
  margin-left:10px;
}
.servingStations{
  background-color:#F9F9F9;
  text-align: center;
  padding:12px;
}
.servingStations a{
  font-size:24px;
  font-weight: 500;
  margin-right:8px;
  color:#7E7E7E;
}
.interest p, .interest button{
  display: inline-block;
}
.interest p{
  font-size:26px;
}
.interest button{
  background-color: #FBBB00;
  color: white;
  padding: 0px 25px 0px 25px;
  margin-left:15px;
}
.interest {
  text-align:center;
  padding:12px;
}
.footer{
  background-color:#444444;
  padding:8px;
  margin-top:1vh;
}
.footerData{
  margin-left:2vw;
}
.footerData, .footerIcons{
  display:inline-block;
}
.footerLinks p, .copyrights p{
  display: inline;
  margin-right:15px;
}
.footerLinks p{
  font-size:16px;
  color:#FBBB00;
}
.copyrights p{
  font-size: 16px;
  color:white;
}
.footerIcons{
  float:right;
  vertical-align: bottom;
  margin-right:2vw;
}
.footerIcons img{
  margin-left:15px;
}