p{
  margin: 0;
}
label{
  margin:0;
}
input{
  outline:none;
}
button{
  border:none;
}
.login-page{
  position: relative;
}
.login-header{
  margin-top: 2vh;
  padding: 3vh;
  border-bottom: 1px solid #DDDDDD;
  box-shadow: 3px 2px 10px 0px rgba(221,221,221,0.75);
}
.login-header img{
  cursor: pointer;
}
.portal{
  vertical-align: bottom;
  font-size:21px;
  color: #5b5b5b;
  font-weight: 200;
}
.login-form{
  padding:5vh;
  max-width: 38vw;
  height:50vh;
  position:absolute;
  margin:0 auto;
  top:18vh;
  bottom:0;
  left:0;
  right:0;
}
.login-title{
  background-color: #565656;
  color:lightgrey;
  padding:3vh;
  text-align: center;
}
.login-title a{
  font-weight: 600;
}
.login-fields{
  padding:4vh;
  background-color: #F9F9F9;
}
.email, .password{
  margin-bottom:3vh;
}
.email p, .password p{
  margin-bottom:8px;
  font-size: x-small;
}
.login-fields div input{
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding:5px 8px;
  width: 100%;
  font-size: small;
  color: grey;

}
.submit{
  width:100%;
  padding:10px;
  text-align: center;
  border: 1px solid #FBBB00;
  background-color: #FBBB00;
  border-radius: 5px;
  color:white;
  font-weight: bold;
}
.forgot-password{
  padding:10px;
  text-align: center;
  color: #FBBB00;
  font-size: x-small;
  font-weight: 100;
}
.forgot-password a{
  cursor:pointer;
}